{% embed '_header.twig' %}
{% block titulo %}<title>Bracket</title>{% endblock %}
{% block css %} {% endblock %}
{% block js %} {% endblock %}
{% endembed %}
{{ls.bracket.id}}
{% include '_footer.twig' %}