{% embed '_header.twig' %}
{% block titulo %}
<title>{{ls.titulo}}</title>
{% endblock %}
{% endembed %}
<script language="javascript"> 
 var segundos = 15; //Segundos de la cuenta atrás 
    function tiempo(){  
  var t = setTimeout("tiempo()",1000);  
  document.getElementById('contenedor').innerHTML = 'o esperar a que te redirija automaticamente en '+segundos--+" segundos.";  
  if (segundos==0){
        window.location.href='home.php';  //Págiana a la que redireccionará a X segundos
  
   clearTimeout(t);  
  }  
 }  
 tiempo()
    </script>
<h1>Registro completo</h1>
<div class="alert alert-success">
    <div style="margin:0 auto;">
      <p><span class="glyphicon glyphicon-ok-circle" style="padding-right:20px;"></span>Tu registro se ha realizado satisfactoriamente, el siguiente paso es verificar tu email para activar tu cuenta.</p>
      <p><a href="home.php"><button type="button" class="btn btn-primary btn-xs">¿Ir a la página de inicio?</button></a> <span id="contenedor"></span></p>
    </div>
</div>
{% include '_footer.twig' %}